<h1>Plant Gallery:</h1>
<h4>Help name our plants!</h4>
<div class="container">
    <div class="row">
        {{#each blogList}}
        <div class="col s6 m3">
            <div class="card">
                <div class="card-image">
                    <img src={{imageUrl}}>
                    <span class="card-title">{{title}}</span>
                </div>
                <div class="card-content">
                    <p>{{content}}</p>
                </div>
                <hr>
                <div class="card-action">
                    <form action="" placeholder="Add some name suggestions" id="{{id}}" data-id="{{id}}">
                        <p>Name my plant here:</p>
                        <textarea id="body" cols="30" rows="10"></textarea>
                        <button type="submit">Submit</button>
                       
                    </form>
                </div> 
                {{>comment}}
            </div>
        </div>


       
        {{/each}}
    </div>
    <script src="/js/gallery.js"></script>