<h1 class="center-align" id="plantgal" >Plant Gallery:</h1>
<h4 class="center-align">Help name our plants!</h4>
<div class="container center-align">
    <div class="row">
        {{#each blogList as | blog | }}
        <div class="col s6 m3">
            <div class="card ">
                <div class="card-image card-panel hoverable ">
                    <img class: "card-panel hoverable" src={{blog.imageUrl}}>
                    <span class=" card-title">{{blog.title}}</span>
                </div>
                <div class="card-content">
                    <p>{{blog.content}}</p>
                </div>
                <hr>
                <div class="card-action">
                    <form id="{{blog.id}}" data-id="{{blog.id}}">
                        <p>Name my plant here:</p>
                        <textarea id="body" cols="30" rows="10"></textarea>

                        <button type="submit" class="btn-floating btn-large waves-effect waves- green darken-3 pulse"><i
                                class="material-icons">add</i></button>
                    </form>
                </div>
                {{>comment blog=blog}} 
                
            </div>
        </div>
        {{/each}}
    </div>
    <script src="/js/gallery.js"></script>